
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <link rel="shortcut icon" href="https://media.licdn.com/dms/image/D4D35AQFcRXsTcUkZ5A/profile-framedphoto-shrink_200_200/0/1697822240252?e=1698429600&v=beta&t=n0QsV6puvvB15XwvsO88sULIwtf-4Hnw3gFycOk9WS4" type="image/x-icon">
</head>
<body>
    <div class="fd">
        <h1 class="head" id="fhm">
            Hello! 
        </h1>
        <h2 class="head">
            Govt Boys Degree College Skardu 
        </h3>
        <p>
            BS Computer Science - 4th Semester  <br>
            My Roll number is : <b>2022-uobsac-234</b>
        </p>
    </div>
   <div class="form">
    <form action="/" method="post">
        <input type="text" name="name" placeholder="name">
        <input type="number" name="registration" placeholder="registration">
         <input type="email" name="email" id="" placeholder="email">
         <input type="password" name="password" placeholder="password">

        <button type="submit">Submit</button>
    </form>
    <ol>
        <h3> Your Data is : </h3>
        <li> <%= name %>  </li>
        <li> <%= registration %>  </li>
        <li> <%= email %>  </li>
        <li> <%= password %>  </li>

    </ol>
   </div>

   <ul>
    <h2>About Me:</h2>
    <a href="https://github.com/Billal-Ahmed" target="_blank">github</a> 
    <a href="https://www.linkedin.com/in/sigmacoder/" target="_blank">linkedin</a>
   </ul>
</body>
</html>